<!DOCTYPE html>
<html>
<head>
	<title>FinanceGPT: {{ path_name }}</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

</head>


</head>
<body>

	<h1>Ask Questions for {{ path_name }}?</h1>
	<h4><a href = "/">Home</a></h4>
	<br>
	<iframe title="market-overview" width = "100%" height = "200%" src= "{{ urlforprice }}"></iframe>
	<br>


	<h1>Ask a Question</h1>
	<form id="inputform" method="post" action={{path_name}}>

		<label for="question">Question:</label><br>
		<input type="text" id="question" name="question"><br><br>
		<input type="submit" value="Submit">
	</form>

	<h4> Question Asked</h4>
		<p>{{ questionasked }}</p>
	
	<h4> Answer</h4>
	
	<p>{{ answer_received }}</p>
	<br>
	<h4>References</h4>
	<p>
		{{ embeddings_recieved }}
	</p>
</body>
</html>
