<!DOCTYPE html>
<html>
<head>
	<title>FinanceGPT: {{ path_name }}</title>


	<!-- <script>
		// Check if the OpenAI API key is already stored in localStorage
		if (localStorage.getItem('openai_api_key')) {
			// If it is, set the value of the API key input field to the stored value
			document.getElementById('openai-api-key').value = localStorage.getItem('openai_api_key');
		}

		// Save the OpenAI API key to localStorage when the form is submitted
		document.getElementById('inputform').addEventListener('submit', function(event) {
			var openaiApiKey = document.getElementById('openai-api-key').value;
			localStorage.setItem('openai_api_key', openaiApiKey);
		});
	</script> -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

</head>


</head>
<body>

	<h1>Ask Questions for {{ path_name }}?</h1>

	<br>
	<iframe title="market-overview" width = "100%" height = "200%" src= "{{ urlforprice }}"></iframe>
	<br>


	<h1>Ask a Question</h1>
	<form id="inputform" method="post" action={{path_name}}>

		<label for="question">Question:</label><br>
		<input type="text" id="question" name="question"><br><br>
		<input type="submit" value="Submit">
	</form>

	<h4> Question Asked</h4>
		<p>{{ questionasked }}</p>
	<br>
	<h4> Answer</h4>
	
	<p>{{ answer_received }}</p>
	<br>
	<h4>References</h4>
	<p>
		{{ embeddings_recieved }}
	</p>
</body>
</html>
