<!DOCTYPE html>
<html>
<head>
	<title>FinanceGPT: {{ path_name }}</title>


	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

</head>


</head>
<body>

	<h1>Ask Questions related to any publicly related company</h1>

	<br>
    <bold>Companies currently supoorted:</bold><br>
    - hdfcbank<br>
    - hindunilvr<br>
    - indigo<br>
    - maruti<br>
    - reliance<br>
    - sbin<br>
    - tatasteel<br>
    - tcs<br>

    <br>
    <p>You can navigate to URL/'ticker symbol of company' to ask it questions related to their financials.</p>

    <br>
    <p>
        made by <a href="https://github.com/vimarsh244/finance-gpt">$core_dumpers</a>
    </p>


    
</body>
</html>
