<!DOCTYPE html>
<html>
<head>
	<title>FinanceGPT</title>
    
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

</head>


</head>
<body>

	<h1>Ask Questions related to any publicly related company</h1>

	<br>
    <bold>Companies currently supoorted:</bold><br>
    
    - <a href="/hdfcbank">HDFC Bank | hdfcbank</a><br>
    - <a href="/indigo">Indigo | indigo</a><br>
    - <a href="/maruti">Maruti | maruti</a><br>
    - <a href="/hindunilvr">Hindustan Unilever | hindunilvr</a><br>
    - <a href="/reliance">Reliance Industries | reliance</a><br>
    - <a href="/tatasteel">Tata Steel | tatasteel</a><br>
    - <a href="/sbin">SBI Bank | sbin</a><br>
    - <a href="/adaniports">Adani Ports | adaniports</a><br>
    - <a href="/tcs">TATA Consultancy Services | TCS</a><br>
    - <a href="/ultracemco">UltraTech Cement Ltd | ultracemco</a><br>


    <br>
    <p>You can navigate to URL/'ticker symbol of company' to ask it questions related to their financials.</p>

    <br>
    <p>
        made by <a href="https://github.com/vimarsh244/finance-gpt">$core_dumpers</a>
    </p>


    
</body>
</html>
